/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
vite.config.js
Procfile
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/public/images/aerolinea/*
/public/images/hoteles/*
/public/images/productos/*
/public/images/tours/*
